.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  align-items: center;
  padding: 100px;
}
.btn{
padding: 10px 20px;
color: white;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}